#comic_wrapper {
	margin: auto;
	width: 680px;
	height: 680px;
	background: white;
    border: solid 1px black;
}

.frame {
	left: 10px;
	background: transparent;
	position: relative;
	overflow: hidden;
}

#first_frame {
	top: -80px;
	width: 660px;
	height: 415px;
}

#second_frame {
	top: -70px;
	width: 325px;
	height: 415px;
}

#third_frame {
	top: -485px;
	left: 345px;
	width: 325px;
	height: 415px;
}

.inner-frame {
	background: #AAAAAA;
	position: relative;
	overflow: hidden;
}

#first_inner_frame {
	top: 90px;
	width: 660px;
	height: 415px;
}

#second_inner_frame {
	top: -90px;
	width: 325px;
	height: 415px;
}

#third_inner_frame {
	top: -90px;
	width: 325px;
	height: 415px;
}

.frame-image {
	display: block;
	border: 0;
  	background-size: cover;
  	position: relative;
    background-size: cover;
    background: #333333;
}

#first_frame_image {
  	width: 660px;
	height: 415px;
}

#second_frame_image {
  	width: 325px;
	height: 415px;
}

#third_frame_image {
  	width: 325px;
	height: 415px;
}