@model Tuple<itransition_project.Models.Profile, itransition_project.Models.Comment>

<h2>UserInfo</h2>
<div class="col-md-3">
    <div class="panel-default">
        <div class="panel-heading">
            <img class="" />
        </div>
        <div class="panel-body list-group">
            <div class="list-group-item">
                <label class="glyphicon glyphicon-comment"></label>
                <span class="pull-right">@Model.Item1.About</span>
            </div>
        </div>
    </div>
    <h3>Medal</h3>
    <img src="" />
    
    @using (Html.BeginForm("UserInfo", "User", FormMethod.Post))
    {
        @Html.LabelFor(model => model.Item2.Text, "Text")
        <br/>
        @Html.Editor("text")
        <br /><br />
        <input type="submit" value="Добавить" />
    }
</div>

