@model itransition_project.Models.Profile
@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>
<div class="col-md-3">
    <div class="panel-default">
        <div class="panel-heading">
            <img class="" />
        </div>
        <div class="panel-body list-group">
            <div class="list-group-item">
                <label class="fa fa-male fa-4x" style="font-size: 20px"></label>
                <span class="pull-right">INFO</span>
            </div>
            <div class="list-group-item">
                <label class="glyphicon glyphicon-time"></label>
                <span class="pull-right">
                    INFO
                </span>
            </div>
            <div class="list-group-item">
                <label class="glyphicon glyphicon-comment"></label>
                <span class="pull-right">@Model.About</span>
            </div>
        </div>
    </div>
    <h3>Medal</h3>
    <img src="" />
    <form>
        <fieldset >
            <div class="form-group">
                <label for="TextInput">Input comment</label>
                <textarea id="TextInput" class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</div>

