
@{
    ViewBag.Title = "AddComix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddComix</h2>
<div class="container">
    @Html.Partial("~/Views/Templates/Skew.cshtml")
    @section scripts{
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/template")
    }
</div>

