@{
    ViewBag.Title = "AddComix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/balloons")
<h2>AddComix</h2>

<div class="container" ng-app="ComixAdd">
    <div id="pages" ng-controller="pagesController">
        <div class="form-group">
            <label class="col-md-2 control-label" for="Name">Name</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" data-val-required="Требуется поле Name." id="Name" name="Name" type="text" value="">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button ng-click="add()" class="btn btn-default btn-sm">Add Page</button>
                @*<button ng-click="drgbl()" class="btn btn-default btn-sm">Run</button>*@
                <button ng-click="save()" class="btn btn-default btn-sm">Save</button>
            </div>
        </div>
        <hr/>
        <comix-manager></comix-manager>
    </div>
    <div id="balloons_panel">
        <div class="talkbubble">
            <a class="delete-cross"></a>
            <p>
                <textarea>Text</textarea>
            </p>
        </div>
    </div>
</div>




@section scripts{
    
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/AddComix")
    @Scripts.Render("~/bundles/jqueryui")
}

