
@{
    ViewBag.Title = "AddComix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/balloons")
<h2>AddComix</h2>

<div class="container" ng-app="ComixAdd">
    <div ng-controller="pagesController">
        <button ng-click="add()">Add Page</button>
        <comix-manager></comix-manager>
    </div>
</div>

<div id="balloons_panel">
    <p class="speech">test</p>
</div>


@section scripts{
    @Scripts.Render("~/bundles/template")
    @Scripts.Render("~/bundles/AddComix")
}

