    <dragable ng-controller="switchTemplateController">
        <select ng-model="selection" ng-options="item for item in items"></select>
        <button ng-click="remove()">Remove</button>
        <hr />
        <div style="height:800px" ng-switch on="selection">
            <div ng-view ng-switch-when="skew">
                @Html.Partial("~/Views/Templates/Skew.cshtml")
            </div>
            <div ng-switch-when="triad">
                @Html.Partial("~/Views/Templates/Triad.cshtml")
            </div>
            <div ng-switch-when="tetrad">
                @Html.Partial("~/Views/Templates/Tetrad.cshtml")
            </div>
        </div>
        @section scripts{
            @Scripts.Render("~/bundles/jqueryui")
        }
        <button ng-click="drgbl()">
            Test
        </button>
    </dragable>