*{ margin: 0; padding: 0; }
/*body{ 
	background-color: #37474F; 
	font-family: Arial, sans-serif;
	padding: 15px;
}*/
.error{ color: #B71C1C; }
#userActions{
	display: table-cell;
	height: 150px;
	width: 200px;
	vertical-align: middle;
	text-align: center;
	color: #37474F;
	background-color: #FFFFFF;
	border: solid 2px #333333;
	border-radius: 10px;
}
#userActions input{
	width: 150px;
	margin: auto;
}