<html lang="en"><head>
  <meta charset="utf-8">
  <title>jQuery UI Draggable - Default functionality</title>
<!--   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<script href="jquery-ui-1.11.4/jquery-ui.min.js"/>

  <style>
  #draggable { width: 150px; height: 150px; padding: 0.5em; }
  </style>
  <script>
  $(function() {
    $( "#draggable" ).draggable();
  });
  </script>
</head>
<body style="cursor: auto;">

<div id="draggable" class="ui-widget-content ui-draggable ui-draggable-handle" style="position: relative; left: 293px; top: 196px;">
  <p>Drag me around</p>
</div>




</body></html>