<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="jquery-ui-1.11.4/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="jquery-ui-1.11.4/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="attempt_style.css">
</head>
<body>

<div id="comic_wrapper">
	<div id="first_frame" class="frame">
		<div id="first_inner_frame" class="inner-frame">
			<div id="first_frame_image" class="draggable frame-image ui-widget-content"></div>
		</div>
	</div>
	<div id="second_frame" class="frame">
		<div id="second_inner_frame" class="inner-frame">
			<div id="second_frame_image" class="draggable frame-image ui-widget-content"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="scripts.js"></script>

</body>
</html>