<link href="~/Content/themes/base/all.css" rel="stylesheet" type="text/css" />
<link href="~/Content/TemplateStyles/skew_style.css" rel="stylesheet" />

<div id="comic_wrapper">
    <div id="first_frame" class="frame">
        <div id="first_inner_frame" class="inner-frame">
            <div id="first_frame_image" class="frame-image ui-widget-content"></div>
        </div>
    </div>
    <div id="second_frame" class="frame">
        <div id="second_inner_frame" class="inner-frame">
            <div id="second_frame_image" class="frame-image ui-widget-content"></div>
        </div>
    </div>
</div>

    


    
    

